.black {
  color: hsl(260, 100%, 2%); /* Black */
}
.black {
  color: hsl(260, 91%, 9%); /* Black */
}
.midnight-blue {
  color: hsl(260, 98%, 17%); /* Midnight Blue */
}
.dark-slate-gray {
  color: hsl(215, 25%, 27%); /* Dark Slate Gray */
}
.dim-gray {
  color: hsl(0, 0%, 41%); /* Dim Gray */
}
.medium-slate-blue {
  color: hsl(255, 100%, 66%); /* Medium Slate Blue */
}
.dark-magenta {
  color: hsl(284, 64%, 38%); /* Dark Magenta */
}
.gray {
  color: hsl(30, 1%, 50%); /* Gray */
}
.dark-orchid {
  color: hsl(273, 58%, 56%); /* Dark Orchid */
}
.dark-orchid {
  color: hsl(300, 63%, 38%); /* Dark Orchid */
}
.medium-slate-blue {
  color: hsl(266, 100%, 67%); /* Medium Slate Blue */
}
.medium-violet-red {
  color: hsl(321, 67%, 45%); /* Medium Violet Red */
}
.medium-violet-red {
  color: hsl(326, 66%, 49%); /* Medium Violet Red */
}
.silver {
  color: hsl(24, 9%, 79%); /* Silver */
}
.medium-violet-red {
  color: hsl(334, 73%, 53%); /* Medium Violet Red */
}
.tomato {
  color: hsl(350, 86%, 59%); /* Tomato */
}
.white-smoke {
  color: hsl(30, 13%, 94%); /* White Smoke */
}
.white-smoke {
  color: hsl(30, 12%, 97%); /* White Smoke */
}
.deep-pink {
  color: hsl(326, 100%, 49%); /* Deep Pink */
}
.tomato {
  color: hsl(7, 94%, 62%); /* Tomato */
}
.dark-orange {
  color: hsl(25, 96%, 56%); /* Dark Orange */
}
.tomato {
  color: hsl(14, 96%, 60%); /* Tomato */
}
.crimson {
  color: hsl(343, 100%, 54%); /* Crimson */
}
.deep-pink {
  color: hsl(324, 100%, 55%); /* Deep Pink */
}
.salmon {
  color: hsl(1, 100%, 72%); /* Salmon */
}
.dark-orange {
  color: hsl(24, 100%, 56%); /* Dark Orange */
}
.orange {
  color: hsl(36, 100%, 53%); /* Orange */
}
